body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#game_grid {
  border: 2px solid tomato;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: 100%;
}

.flip {
  transform: rotateY(180deg);
}

.container {
  max-width: 60%;
  margin: 10px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.buttons {
  margin-bottom: 30px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.selected {
  background-color: rgb(47, 68, 231);
}
button:hover {
  background-color: #007bffbb;
  
}
#game_stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.mode-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mode-buttons button {
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#dark-mode-btn {
  background-color: #333;
  color: #fff;
}

#light-mode-btn {
  background-color: #dedede;
  color: #333;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode #game_grid {
  background-color: #fff;
}

.card {
  position: relative;
  transition:transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 80%;
  height: auto;
}


.card .front_face {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .back_face {
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  z-index: 2;
}

.card .back_face {
  transform: rotateY(0deg);
  z-index: 1;
}